:root{
--primary-grey:#453c51;
--primary-purple:#a846d7;
--primary-blue:#152a46;

}
body{
    background-color: var(--primary-grey) ;
    font-family:sans-serif;
}
header{
    z-index:1000;
    height:100px;
}

.hero{
background-image:url('../images/bg-hero.jpg');
background-repeat:no-repeat;
background-size:cover;
height: 400px;
}
hr{
   background-color:white;
   height:2px;
   border-color:white;
   width:60vw;
}
svg{
    padding:0;
    margin:0;
}
header nav a{
    color:white;
}